@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --font-outfit: "Outfit", sans-serif;
  --font-ovo: "Ovo", serif;
  /* --lightHover: '#fcf4ff',
  --darkHover:'#2a004a',
  --darkTheme: var(--foreground) */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-outfit: var(--font-outfit);
  --font-ovo: var(--font-ovo);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Outfit", "Ovo", sans-serif;
}
