@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;

  --font-outfit: "Outfit", sans-serif;
  --font-ovo: "Ovo", serif;

  --lightHover: #fcf4ff;
  --darkHover: #2a004a;
  --darkTheme: #11001f; /* or use var(--foreground) if you want it dynamic */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit), var(--font-ovo), sans-serif;
}
